.header {
  width: 1458px;
  margin: 0 auto;
}
.container {
  width: 1458px;
  padding-left: 16px;
  padding-right: 16px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.icon-skyrim {
  align-items: center;
}
.icon-skyrim:hover {
  fill: crimson;
}
.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 700;
  color: crimson;
  text-decoration: none;
}
.logo:hover,
:focus {
  color: black;
}
.span {
  color: black;
}
.span:hover,
:focus {
  color: crimson;
}
.list-brothers {
  display: flex;
  margin: 0 auto;
  list-style: none;
}
.text {
  margin-right: 20px;
}
.link {
  text-decoration: none;
  color: brown;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}
.link:hover,
:focus {
  color: black;
}
.container-adress {
  display: flex;
  justify-content: end;
}
.list-adress {
  list-style: none;
}
.house-adress {
  margin-right: 10px;
}
.text-adress {
  text-decoration: none;
  color: blueviolet;
}
/* section-one */
.section-one {
  margin-bottom: 120px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
}
.container-first {
  display: block;
  justify-content: center;
  margin: 0 auto;
  padding-top: 400px;
}

.title-hero {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: crimson;
}
.list-button {
  display: flex;
  justify-content: center;
  list-style: none;
}
.li-button {
  margin-right: 10px;
}
.button {
  width: 150px;
  height: 40px;
  border: solid 1px;
  border-radius: 15px;
  cursor: pointer;
  background-color: crimson;
  color: black;
  font-size: 17px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
.button:hover {
  color: crimson;
  background-color: black;
}
.comment {
  font-size: 20px;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: crimson;
}
/* section-two */
.section-two {
  background-color: black;
  width: 1670px;
  height: 1000px;
  margin: 0 auto;
  margin-bottom: 120px;
  background-image: url(../images/dark-retual.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: solid 1px;
  border-radius: 15px;
}
.container-dogma {
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 750px;
  padding-top: 200px;
}

.title-dogma {
  text-align: center;
  font-size: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: crimson;
  font-weight: 700;
}
.img-dogma {
  margin-bottom: 30px;
}
.li-comment {
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: crimson;
}
.img-skyrim {
  margin-top: 20px;
}

/* section-three */
.section-three {
  background-color: black;
  width: 1670px;
  height: 1000px;
  margin: 0 auto;
  background-image: url(../images/darkbrotherhood-dark.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px;
  border-radius: 15px;
  border-color: crimson;
  margin-bottom: 120px;
}
.title-guardian {
  text-align: center;
  font-size: 26px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  color: crimson;
}
.container-three {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 750px;
  margin: 0 auto;
}
.list-img {
  justify-content: center;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.img-cicero {
  margin-right: 18px;
  margin-bottom: 18px;
}
.box-cicero {
  border: solid 1px red;
  border-radius: 15px;
  overflow: hidden;
  width: 560px;
  height: 360px;
}
.title-cicero {
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: crimson;
}
/* section-four */
.section-four {
  width: 1670px;
  margin: 0 auto;
  height: 1000px;
  background-image: url(../images/il_fullxfull..webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px;
  border-radius: 15px;
  margin-bottom: 120px;
}
.title-find {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: crimson;
}

.container-weknow {
  display: flex;
  justify-content: center;
}
.list-weknow {
  list-style: none;
}
.li-img {
  margin-bottom: 10px;
  border: solid 1px;
  border-radius: 15px;
  overflow: hidden;
  border-color: brown;
}
.list-rules {
  display: flex;
  justify-content: center;
  list-style: none;
}
.li-list {
  margin-right: 10px;
  border: solid 1px;
  border-radius: 15px;
  border-color: red;
  background-color: black;
  padding-bottom: 10px;
}
.li-list:hover,
:focus {
  background-color: crimson;
  border-color: black;
}
.title-rules {
  text-align: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: crimson;
  font-weight: 700;
  letter-spacing: 0.02mm;
}
.title-rules:hover,
:focus {
  color: black;
}
.comment-rules {
  font-size: 19px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: crimson;
  padding-left: 10px;
}
.comment-rules:hover,
:focus {
  color: black;
}
/* container-five */
.section-five {
  margin-bottom: 120px;
  background-color: crimson;
}
.list-images {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.li-images {
  margin-right: 10px;
  margin-bottom: 10px;
}
/* section-five */
.section-five {
  width: 1670px;
  margin: 0 auto;
  height: 1100px;
  border: solid 1px;
  border-radius: 15px;
  background-image: url(../images/darbrothers.jpg);
  margin-bottom: 120px;
}
.title-five {
  text-align: center;
  text-decoration: solid;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.02mm;
  color: crimson;
}
.list-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.li-images {
  width: calc((100% - 16px) / 3);
}
.box-portfolio {
  border: solid 1px;
  border-radius: 15px;
  overflow: hidden;
  width: 500px;
  height: 300px;
  border-color: rebeccapurple;
}
.img-portfolio {
  width: 500px;
  height: 300px;
}
/* footer */
.footer {
  width: 1670px;
  margin: 0 auto;
  background-color: rgb(29, 5, 46);
}
.container-footer {
  display: flex;
  flex-wrap: wrap;
}
.container-logo {
  padding-top: 20px;
  margin-right: 120px;
}
.logo-footer {
  text-decoration: none;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  letter-spacing: 0.02mm;
  color: rgb(255, 255, 255);
}
.span-two {
  color: crimson;
}
.comment-footer {
  font-size: 20px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
}
.list-icon-footer {
}
